a {
  color: #438686;
}

a:hover {
  color: #438686;
}

table, td {
    border: 1px solid black;
}

td {
    padding: 4px;
}

img {
  max-width: 100%;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-outline-primary {
  color: #336699;
  background-color: transparent;
  background-image: none;
  border-color: #336699;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #336699;
  border-color: #336699;
}

/*
 *
 * ===== Navbar =====
 *
 */

.navbar-brand {
  width: 44px;
  height: auto;
}

.ato-navbar {
  background-color: #7da7d8;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
  position: -webkit-sticky;
  position: sticky;
  min-height: 4rem;
  top: 0;
  z-index: 1071;
}

.ato-navbar .navbar-nav-svg {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-top;
}

.ato-navbar .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}
.ato-navbar .nav-link.active,
.ato-navbar .nav-link:hover
{
  color: #fff;
  background-color: transparent;
}
.ato-navbar .nav-link.active {
  font-weight: 500;
}
.ato-navbar .dropdown-menu {
  font-size: .875rem;
}
.ato-navbar .dropdown-item.active {
    font-weight: 500;
    color: #212529;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: .4rem .6rem;
    background-size: .75rem .75rem;
}

@media (max-width: 767.98px) {
  .navbar-brand {
    margin-right: 0px;
  }

  .ato-navbar {
    padding-right: .5rem;
    padding-left: .5rem;
  }

  .ato-navbar .navbar-nav-scroll {
    max-width: 100%;
    height: 2.5rem;
    margin-top: .25rem;
    overflow: hidden;
    font-size: .875rem;
  }

  .ato-navbar .navbar-nav-scroll .navbar-nav {
    padding-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}

/*
.bd-navbar {

  @include media-breakpoint-up(md) {
    @supports (position: sticky) {
      position: sticky;
      top: 0;
      z-index: 1071; // over everything in bootstrap
    }
  }

  .navbar-nav {
    .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
      color: $bd-purple-light;

      &.active,
      &:hover {
        color: #fff;
        background-color: transparent;
      }

      &.active {
        font-weight: 500;
      }
    }
  }

  .navbar-nav-svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
  }

  .dropdown-menu {
    font-size: .875rem;
  }

  .dropdown-item.active {
    font-weight: 500;
    color: $gray-900;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: .4rem .6rem;
    background-size: .75rem .75rem;
  }
}
 */

/*
 *
 * ===== Sidebar =====
 *
 */

.ato-sidebar {
  order: 0;
  border-right: 1px solid rgba(0,0,0,.1);
}

@media (min-width: 768px) {
  .ato-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 4rem);
  }
  .ato-blog .ato-sidebar {
    padding-top:0.5rem;
  }
}

.ato-sidebar .nav > li > a {
  display: block;
  padding: .25rem 1.5rem;
  font-size: 90%;
}

.ato-sidebar .nav > li a
{
  color: rgba(0,0,0,.65);
}
.ato-sidebar .nav > li > a:hover {
  color: #438686;
}

@media (min-width: 768px) {
  .ato-links {
    display: block !important;
  }
}

.ato-links {
  max-height: calc(100vh - 9rem);
  overflow-y: auto;
}

.ato-links {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: -15px;
  margin-left: -15px;
}

.ato-sidenav {
  display: none;
}

.ato-docs-toggle {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
  margin-left: 0!important;
}
.ato-docs-toggle h1 {
  margin-right: auto;
  font-size: 2rem!important;
  margin-top: 0!important;
  margin-bottom: 0!important;
}
.ato-docs-toggle btn {
  line-height: 1;
  display: block;
  width: 100px;
}

/*
 *
 * ===== Content / Docs =====
 *
 */

.ato-search {
  position: relative;
  padding: 1rem 15px;
  margin-right: -15px;
  margin-left: -15px;
  border-bottom: 1px solid rgba(0,0,0,.05);
}

.ato-date {
  color: #6c757d !important;
  padding-bottom: 25px;
}

.ato-content {
  order: 1;
}

.ato-content,
.ato-content h1
{
  color: #333;
}

.ato-blog h1.ato-title
{
  /*
  font-size: 2.5rem;
  font-weight: 400;
  */
  /* margin-top: 1rem; */
  /* margin-bottom: 2.25rem; */
  /* border-bottom: 1px solid rgba(0,0,0,.1); */
  max-width: 80%;
}

@media (max-width: 767.98px) {
  .ato-blog .ato-content h1.ato-title
  {
    display: none;
  }
}

.ato-lead h1.ato-title {
  font-size: 3rem;
  font-weight: 300;
}
.ato-lead p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.ato-content h1 {
  font-size: 2rem;
  font-weight: bold;
  text-decoration-line: underline;
  margin-bottom: 0.75rem;
}
.ato-content h2 {
  font-size: 1.75rem;
  font-weight: 400;
}
.ato-content h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
.ato-content h4 {
  font-size: 1.25rem;
  font-weight: 400;
}
.ato-content h5 {
  font-size: 1rem;
  font-weight: 400;
}

.ato-content > h1:not(:first-child) {
  margin-top: 2rem;
}

.ato-content p {
  max-width: 80%;
}

.ato-next {
  text-align: right;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

/*
 * Offsets anchor links to avoid the sticky header
 */
.ato-content > h1[id]::before,
.ato-content > h2[id]::before,
.ato-content > h3[id]::before,
.ato-content > h4[id]::before
{
	display: block;
	height: 6rem;
	margin-top: -6rem;
	visibility: hidden;
	content: "";
}

.ato-toc {
  position: sticky;
  top: 4rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  -ms-flex-order: 2;
  order: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: .875rem;
}

.ato-toc li {
  display: block;
}
.ato-toc a {
	display: block;
	padding: .125rem 1.5rem;
	color: #99979c;
}

.section-nav {
	padding-left: 0;
	border-left: 1px solid #eee;
}
.section-nav ul {
	padding-left: 1rem;
}
.section-nav > ul {
  padding-left: 0;
}

.ato-toc-item.active:not(:first-child) {
  margin-top: 1rem;
}

.ato-toc-item.active {
  margin-bottom: 1rem;
}

.ato-toc-item.active > .ato-sidenav {
    display: block;
}

.active .active {
  font-weight: 500;
  color: rgba(0,0,0,.85)!important;
}

.ato-toc-link {
  display: block;
  padding: .25rem 1.5rem;
  font-weight: 500;
  color: rgba(0,0,0,.65);
}

.ato-single {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/*
 *
 * ===== Homepage masthead =====
 *
 */

.ato-masthead {
  position: relative;
  padding: 3rem 15px;
}

.ato-masthead {
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #323232;
}

.ato-masthead .container {
  max-width: 1000px;
}

.ato-masthead .ato-text-big {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.1rem;
  /* color: #774466; */
}

.ato-masthead .ato-logo {
  display: block;
  max-height: 300px;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
}

.ato-masthead .ato-action {
  /* max-width: 300px; */
}

.ato-masthead .btn {
  padding: .8rem 2rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.btn-ato-primary {
  font-weight: 500;
  color: #336699;
  border-color: #336699;
}

.btn-ato-primary:active, .btn-ato-primary:hover {
  color: #fff;  
  background-color: #336699;
  border-color: #336699;
}

.masthead-followup .fa {
  margin-right: 0.5rem;
}
.masthead-followup h3 {
  margin-bottom: 1rem;
}

.half-rule {
    width: 6rem;
    margin: 2.5rem 0;
}

.github-edit {
  float: right;
  margin-top: -3rem;
  line-height: 2rem;
  font-size: .875rem;
}
.github-edit a {
  color: #99979c;
}
.github-edit .fa {
  font-family: inherit;
}

.github-edit .fa:before {
  font-family: "FontAwesome";
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
}

/* Hide on small devices */
@media (max-width: 767.98px) {
  .github-edit {
    display: none;
  }
}

/*
 *
 * ===== Footer =====
 *
 */

.ato-footer {
  font-size: 85%;
  text-align: left;
  background-color: #f7f7f7;
}

.ato-footer-links {
  padding-left: 0;
  margin-bottom: 1rem;
}
.ato-footer-links li {
  display: inline-block;
}
.ato-footer-links li + li {
  margin-left: 1rem;
}
.ato-footer a {
  font-weight: 500;
  color: #495057;
}

/*
 *
 * ===== Highlight =====
 *
 */

code {
  color: #995577;
}

.hljs {
  display: block;
  overflow-x: auto;
  margin: 1rem 0rem;
  padding: 1.5rem;
  background: #f7f7f7;
  font-size: 90%;
  line-height: 1.2rem;
}


/* Base color: saturation 0; */

.hljs,
.hljs-subst {
  color: #444;
}

.hljs-comment {
  color: #818a91;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}


/* User color: hue: 0 */

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #338855;
}

.hljs-title,
.hljs-section {
  /*color: #429aed;*/
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #BC6060;
}


/* Language color: hue: 90; */

.hljs-literal {
  color: #78A960;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
    color: #995577;
}


/* Meta color: hue: 200 */

.hljs-meta {
  color: #1f7199;
}

.hljs-meta-string {
  color: #4d99bf;
}


/* Misc effects */

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/* Show section header on hover */

h2:hover a:after,
h3:hover a:after,
h4:hover a:after,
h5:hover a:after {
    content: '\2002\00a7\2002';
}

h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a {
    text-decoration: none;
}

@media (min-width:520px) {
  .jumbotron {
    padding: 4rem;
  }
}

/*
 *
 * ===== Docsearch =====
 *
 */

.algolia-autocomplete {
  display: block !important;
  flex: 1;
}

.algolia-autocomplete .ds-dropdown-menu {
  width: 100%;
  min-width: 0 !important;
  max-width: none !important;
  padding: .75rem 0 !important;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .175);
}

@media (min-width: 768px) {
  .algolia-autocomplete .ds-dropdown-menu {
    width: 175%;
  }
}

.algolia-autocomplete .ds-dropdown-menu::before {
  display: none !important;
}

.algolia-autocomplete .ds-dropdown-menu[class^="ds-dataset-"] {
  padding: 0 !important;
  overflow: visible !important;
  background-color: transparent !important;
  border: 0 !important;
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestions {
    margin-top: 0 !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion {
  padding: 0 !important;
  overflow: visible !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  padding: .125rem 1rem !important;
  margin-top: 0 !important;
  font-size: .875rem !important;
  font-weight: 500 !important;
  /* color: $bd-purple-bright !important; */
  border-bottom: 0 !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--wrapper {
  float: none !important;
  padding-top: 0 !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  float: none !important;
  width: auto !important;
  padding: 0 !important;
  text-align: left !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content {
  float: none !important;
  width: auto !important;
  padding: 0 !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content::before {
  display: none !important;
}

.algolia-autocomplete .ds-suggestion:not(:first-child) .algolia-docsearch-suggestion--category-header {
  padding-top: .75rem !important;
  margin-top: .75rem !important;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.algolia-autocomplete .ds-suggestion .algolia-docsearch-suggestion--subcategory-column {
  display: none !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--title {
  display: block;
  padding: .25rem 1rem !important;
  margin-bottom: 0 !important;
  font-size: .875rem !important;
  font-weight: 400 !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--text {
  padding: 0 1rem .5rem !important;
  margin-top: -.25rem;
  font-size: .875rem !important;
  font-weight: 400;
  line-height: 1.25 !important;
}

.algolia-autocomplete .algolia-docsearch-footer {
  float: none !important;
  width: auto !important;
  height: auto !important;
  padding: .75rem 1rem 0;
  font-size: .75rem !important;
  line-height: 1 !important;
  color: #767676 !important;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.algolia-autocomplete .algolia-docsearch-footer--logo {
  display: inline !important;
  overflow: visible !important;
  color: inherit !important;
  text-indent: 0 !important;
  background: none !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  /*
  color: #5f2dab;
  background-color: rgba(154, 132, 187, .12);
  */
}

.algolia-autocomplete .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
  /*
  box-shadow: inset 0 -2px 0 0 rgba(95, 45, 171, .5) !important;
  */
}

.algolia-autocomplete .ds-suggestion.ds-cursor .algolia-docsearch-suggestion--content {
  /*
  background-color: rgba(208, 189, 236, .15) !important;
  */
}

@font-face {
  font-family: teacher;
  src: url(/fonts/teacher.ttf);
  }

.ato-text-logo {
  font-family: teacher;
  color: #3e73a6;
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
  