{{ partial "header" . }}

<main class="ato-masthead">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-5 mx-auto col-md-5 order-md-2 container-fluid">
        <img class="img-fluid mb-3 mb-md-0 ato-logo" src="/img/zenoh-dragon.png" alt="">
      </div>
      <div class="col-md-7 order-md-1 text-center text-md-left pr-md-5">
        <h1 class="mb-3 ato-text-big  ato-text-logo">Zenoh</h1>
        <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" class="lead">
          <b>Zero Overhead Network Protocol.</b>
        </p>
        <p class="lead mb-4">
          Zenoh /zeno/ is a pub/sub/query protocol unifying data in motion, data at rest and computations.

          It elegantly blends traditional pub/sub with geo distributed storage,
          queries and computations, while retaining a level of time and space efficiency
          that is well beyond any of the mainstream stacks.
        </p>
        <div class="d-flex flex-column flex-md-row lead mb-3">
          <a href="{{ ref . "/docs/overview/what-is-zenoh.md" }}" class="btn btn-lg btn-ato-primary mb-3 mb-md-0 mr-md-3">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</main>


<div class="masthead-followup row m-0 border border-white">
  <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
    <h3>
      <i class="fa fa-superpowers" aria-hidden="true"></i>
      Eloquent
    </h3>

    <p>
      First class abstractions for <i>pub/sub</i>, <i>geo-distributed storages</i>,
      <i>query</i>, and <i>queryables</i> simplify the development of
      distributed applications, at any scale.
    </p>

    <p>
      <b>Pub/Sub</b><br>
      Zenoh provides efficient publish/subscribe primitives, supporting
      multiple levels of reliability, dynamic discovery, fragmentation, and
      wire-level batching.
    </p>

    <p>
      <b>Storages</b><br>
      Zenoh provides primitives for defining geo-distributed storages 
      with sharding and replication. 
      <!-- as well defined semantics for querying and aggregating. -->
    </p>

    <p>
        <b>Queries and Queryables</b><br>
        Zenoh provides well-defined semantics for querying and aggregating.
        It also allows applications to register computations that will be
        triggered by queries; a simple mechanism that allows many patterns
        to be implemented, such as RPC and map-reduce.
      </p>


    <!-- <hr class="half-rule">
    <a class="btn btn-outline-primary" href="/docs/overview/#unified-abstractions">Learn more</a> -->
  </div>

  <!--  style="text-decoration: line-through" -->
  <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
    <h3>
      <i class="fa fa-globe" aria-hidden="true"></i>
      Scalable
    </h3>

    <p>
      Zenoh protocol and its implementations are decentralized and can scale-out as well as 
      scale-down.
    </p>

    <p>
      <b>Scalable Routing</b><br>
        Zenoh provides scale-out through a scalable routing infrastructure 
        that allows your applications to be deployed at Internet scale. 
      </p>

    <p>
      <b>Low Power Networks</b><br>
      Zenoh has been designed to run across extremely constrained transports 
      such as LPWAN and LowPAN. To maximise the usable bandwidth, Zenoh can run 
      on OSI Layer 2 and has a minimal <b>wire overhead</b> of <b>4 bytes</b>.
    </p>

    <p> 
      <b>Constrained Devices</b></br>
      Zenoh implementations can be extremely resource constrained. Our smallest
      implementation takes as little as <b>300 bytes footprint </b> on an Atmel 
      8-bit microcontroller. 
    </p>
    <!-- <hr class="half-rule">
    <a class="btn btn-outline-primary" href="/docs/overview/#heterogenous-applications">Learn more</a> -->
  </div>

  <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
    <h3>
      <!-- fa-cogs -->
      <i class="fa fa-dashboard" aria-hidden="true"></i>
      Fast
    </h3>

    <p>
      Zenoh is fast to learn and extremely performant.
    </p>

    <p>
      <b>Fast Adoption</b><br>
      Zenoh has a very simple API that makes it extremely fast to get started 
      and productive. APIs are available for the most popular programming languages
      and more are added regularly.
    <p>

    <p>
      <b>Low Latency</b><br>
      Zenoh has an extremely low latency, thus it is appropriate for applications 
      that require extremely low overhead and reaction times. 
    </p>
    <p>
      <b>High Throughput</b><br>
      Zenoh delivers extremely high throughput and allows you to further
      its off-the-shelf performance through the batching API.
    </p>
    <!-- <hr class="half-rule">
    <a class="btn btn-outline-primary" href="/docs/overview/#lightweight">Learn more</a> -->
  </div>
</div>


{{ partial "footer" . }}
