{{- if eq (.Get 0) "ato" -}}
{{- .Site.Params.atoDocsURL -}}
{{- else if eq (.Get 0) "ato-executor" -}}
{{- .Site.Params.atoExecutorDocsURL -}}
{{- else if eq (.Get 0) "ato-io" -}}
{{- .Site.Params.atoIoDocsURL -}}
{{- else if eq (.Get 0) "ato-codec" -}}
{{- .Site.Params.atoCodecDocsURL -}}
{{- else if eq (.Get 0) "ato-reactor" -}}
{{- .Site.Params.atoReactorDocsURL -}}
{{- else if eq (.Get 0) "ato-timer" -}}
{{- .Site.Params.atoTimerDocsURL -}}
{{- else if eq (.Get 0) "bytes" -}}
{{- .Site.Params.bytesDocsURL -}}
{{- else if eq (.Get 0) "core" -}}
{{- .Site.Params.coreDocsURL -}}
{{- else if eq (.Get 0) "futures" -}}
{{- .Site.Params.futuresDocsURL -}}
{{- else if eq (.Get 0) "mio" -}}
{{- .Site.Params.mioDocsURL -}}
{{- else if eq (.Get 0) "proto" -}}
{{- .Site.Params.protoDocsURL -}}
{{- else if eq (.Get 0) "service" -}}
{{- .Site.Params.serviceDocsURL -}}
{{- end -}}
